body {
    font-family: Arial;
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 250px;
}

a {
    text-decoration: none;
    color: blue;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
